* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    color:  #0e44b8;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #22438c;
    color: aquamarine;
    border: none;
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #22438c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    border-radius: 20px 50px;
}

.dropdown-content a {
    color: aquamarine;
    padding: 10px 20px;
    display: inline-block;
    background-color: #22438c;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #4169e1;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 15px 50px;
}
#resetButton{
    display: flex;
    position: absolute;
    margin-left: 710px;
    margin-top: 30px;
    background-color: #22438c;
    color: aquamarine;
    border: none;
    width: 90px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px 50px;
    border-style:dotted;
}
footer{
    margin-top: 500px;
    color: black;
    font-size: large;
    margin-left: 20px;
}